/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.Footer-Main-container {
    padding:10px;
}

.Bottom-container {
    background-color:grey;
    padding:10px;
}
.card {
    border:double;
    
    padding:5px;
}

.faq-section{
    border-bottom:1px solid #e4e4e4;
}

.question-block
{
    width:100%;
}

.question-block h2{
    font-weight:700;
    font-size:16px;
    line-height:40px;
}

.question-block h2:hover{
    background-color:#f2f2f2;
}