/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*padding-top: 45px; /* Needed for fixed headers/menu */
    /*padding-bottom: 60px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Footer-Main-container {
    padding: 10px;
}

.Bottom-container {
    background-color: grey;
    padding: 10px;
}

.card {
    border: double;
    padding: 5px;
}

/*footer fixing*/
*{
    margin:0;
    padding:0;
}
html,
body {
    
    height: 100%;
}



#Wrapper {
    min-height: 100%;
   
}
#main
{
    overflow:auto;
    padding-bottom:300px;
}

#footer {
    position: relative;
    height:300px;
    margin-top:-300px;
    clear:both;
   
}





/*Rating Style */
.commentBox {
    background-color: #efefef;
    padding: 10px;
    border-radius: 10px;
}

.starFade {
    background-image: url('/Content/RatingImages/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starFadeN {
    background-image: url('/Content/RatingImages/StarFade.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}

.starGlow {
    background-image: url('/Content/RatingImages/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
    cursor: pointer;
}

.starGlowN {
    background-image: url('/Content/RatingImages/StarGlow.gif');
    min-width: 30px;
    min-height: 30px;
    display: inline-block;
}