@{
    ViewBag.Title = "About Page";
}
<h2>@ViewBag.Title.</h2>


<div class="container">
    <h4>Mask Shopping- The price squeezer on consumer electronics</h4>
    <p>
        MaskShopping opened on March 10, 1999 with a simple business idea: to sell consumer electronics at lower prices than in regular stores. We were only available on the Internet and sold our products directly from the warehouse shelf, without unnecessary hassle. In 2001, online sales were supplemented with Lagershopar where you shop at the same low prices as online.

        Since 1999,MaskShopping sells home electronics from both own and well-known brands directly from the warehouse shelf. Our focus is to simplify everything we can to offer consumer electronics cheaper than others. This is the motto for the entire NetOnNet and is based on our unique self-service concept. Customers should choose NetOnNet, not only because we have low prices, but also because we make it easier, more honest and with a focus based on the customer himself. This is how we create added value and a strong relationship with our customers. NetOnNet sells to consumers and companies through e-commerce and 32 warehouses in Sweden and Norway. Our head office is located in the trading city of Borås.
    </p>
</div>

