@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<hr/>

<div class="container">
    <h4>Mask Shopping- The price squeezer on consumer electronics</h4>
    <p>
        MaskShopping opened on March 10, 1999 with a simple business idea: to sell consumer electronics at lower prices than in regular stores. We were only available on the Internet and sold our products directly from the warehouse shelf, without unnecessary hassle. In 2001, online sales were supplemented with Lagershopar where you shop at the same low prices as online.

        Since 1999,MaskShopping sells home electronics from both own and well-known brands directly from the warehouse shelf. Our focus is to simplify everything we can to offer consumer electronics cheaper than others. This is the motto for the entire MaskShopping and is based on our unique self-service concept. Customers should choose MaskShopping, not only because we have low prices, but also because we make it easier, more honest and with a focus based on the customer himself. This is how we create added value and a strong relationship with our customers. MaskShopping sells to consumers and companies through e-commerce and 32 warehouses in Sweden and Norway. Our head office is located in the trading city of Borås.
    </p>

    <h4>How can MaskShopping keep prices so low?</h4>
    <p>
        Whether you shop in the Internet shop or in our Warehouses, the model is the same - namely self-service. Online, you carry out the entire purchase process yourself and then have the product safely delivered to your home. Our warehouses have no sellers or expensive local costs. Instead, just like in the Internet shop, you look up the product in one of our search stations, and then pick it up yourself from the designated storage location. Our unique way of working and our focus on keeping costs down means that we can keep costs low, which will benefit you as a customer in the form of lower prices.
    </p>
    <h4>Service & Security</h4>
    <p>
        We are not content with keeping prices low. We believe that you want to shop from a serious company with good service in the form of fast and safe deliveries, professional advice, good warranty conditions and skilled service workshops. In order for you to be able to shop safely, MaskShopping offers, among other things, a right of withdrawal and an open purchase for 30 days, a 1-2 year guarantee and fast deliveries.
        As a Klubbhyllan member, you get a full 90 days of open purchase,  see full benefits, conditions and become a member.

        The shipping offer also includes the option home delivery to the door so that you do not have to drag the goods home yourself. Please read more about it in our  Terms and Conditions .

        MaskShopping are also members of Svensk Distanshandel who set up a number of regulations to protect you as a customer.
    </p>
    <h3>
        The advantages of MaskShopping's model:
    </h3>
    <h5>Low prices</h5>
    <p>
        As an online store / warehouse shop, we minimize the costs for warehousing, exposure, rent, administration and personnel. The cost benefits will benefit you as a customer in the form of lower prices.
    </p>
    <h5>Comfortable</h5>
    <p>
        We are open online 24 hours a day, all year round. It gives you the opportunity to shop whenever you want. If you would rather visit one of our physical warehouse shops, they are open every day of the week,  see opening hours .
    </p>
    <h5>Security</h5>
    <p>We offer a national guarantee for 1-2 years through partners throughout the country. At other stores, you are usually referred to the place of purchase in the first place. At MaskShopping, you instead contact the nearest authorized workshop or us when it suits you. It is both more comfortable and safer.</p>
    <h5>Customer conditions</h5>
    <p>
        Both in the Internet shop and in our Warehouse shops, you make your own choice without stress or pressure. MaskShopping therefore has the ambition to provide the market's best product information together with the widest range. We know that you will only shop with us if it happens on your terms.
    </p>

</div>

