
@{
    ViewBag.Title = "AdminPage";
}

<h2>Admin</h2>

<div>

    <a href="@Url.Action("Index","ProductManager")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Products</a>
    <a href="@Url.Action("Index","ProductCategoryManager")" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Categories</a>

</div>
