
@{
    ViewBag.Title = "Terms of purchase MaskShopping.se";
}
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title.</h2>
    </div>
<hr/>
<h4>Generally</h4>
<p>
    The following purchase terms apply from 2019-10-01

    The terms of purchase, together with your order, which has been confirmed by an order confirmation, constitute the contractual basis for the purchase.

    To be able to shop at MaskShopping.se , you must be 18 years old.
</p>
<h5>Where these terms of purchase require written documentation, this is fulfilled by e-mail, text message, letter or the like.</h5>
<h4>1. Parties</h4>
<p>
    The "Seller" is: MaskShopping.se or another company ("Partner"), which is an external seller (ie not MaskShopping AB) of own goods on our site . That sales take place from the Partner is clearly stated in the shopping cart and on the order confirmation, and that is when the Partner you enter into an agreement with. However, payment is made via elgiganten.se, regardless of whether it is MaskShopping or the Partner who is the seller, see item 3.

    Contact information for MaskShopping AB is shown below, while you can find contact information for the Partners by following the link for each Partner that is displayed in connection with the product.

    Information about MaskShopping AB:

    Org no. 556471-4474
    Address to the head office: Esbogatan 12, 164 74 Kista, Stockholm County
    Telephone for customer service: 0771 - 115 115

    "Seller" is referred to below as "we", "us" or "the seller". The buyer is: the person listed as the buyer in the order, and is referred to below as "you", "you", "yours" or "yours".
</p>
<h4>2. Your order</h4>
<p>
    When we receive your order, we confirm the order and automatically send you an order confirmation at the e-mail address you have entered. Read the order confirmation carefully when you receive it, and check that the order confirmation matches the order.

    If the Partner does not accept your order, you will be notified by e-mail directly from the Partner.

    Deviations between your order and the order confirmation are considered a new offer from us, which you can accept or decline. If you have ordered more than one product, you may receive the products in separate shipments.

    We reserve the right to cancel your order or part of it if the product is sold out. If a product is sold out, you will receive a notification about it, possibly together with information about what we can offer instead. You get the opportunity to accept our new offer with the changes we specify compared to your order, or cancel the order completely. Furthermore, we reserve the right to cancel orders intended for resale.

    If a significant typing or printing error has occurred on the part of the seller, in advertisements and the like and / or in the online store, which is greater than 15% of the normal sales price, the seller may unilaterally change, delete or reject the order. This also applies if the customer has received an order confirmation or similar. We also reserve the right to cancel your order, and not to maintain our customer guarantees as a result of force majeure. This applies if it is not possible to fulfill the terms of the agreement. This may be due to extraordinary circumstances and events that MaskShopping Sweden could not have foreseen such as war, extraordinary natural events, fire, strike and pandemics.

    We have the opportunity to make changes until the product is sent from our warehouse. If the item has been sent from our warehouse, you must use the right of withdrawal.

    You can read more about your order at elgiganten.se. If you want to call us, you can contact Elgiganten's customer service on 0771 - 115 115. When purchasing goods from Partner, you must contact Partner's customer service directly.

    1. Log in to "My pages" 
    2. Click on "Order history"
    3. Then select "Contact partner"

</p>
<h5>Payment</h5>
<p>
    When you shop at MaskShopping.se , MaskShopping AB handles the payment. For questions about payment, you can contact Elgiganten's customer service on 0771 - 115 115.

    All prices include VAT. The order overview includes all costs associated with the product, such as postage, shipping, packaging, etc.

    When paying, you can choose from the payment methods we offer in the purchase process. To minimize the risk of unauthorized access, your card details are encrypted. Once we have received your order, we will make a reservation on your means of payment to ensure that there are sufficient funds to cover the purchase amount and complete the transaction. If no reservation can be made, we reserve the right to cancel the order. You will then receive information about a possible cancellation.

    If you use a debit card, PayPal, Swish, Apple-Pay or direct payment via bank as a payment method, you will be charged when we confirm your order and delivery has begun with us. This also applies to pre-orders of products that will be available in the future or that have an unconfirmed delivery date.

    Klarna Invoice as a payment method is only available to private individuals and cannot be selected by companies regardless of company form. This payment method cannot be used for purchases from Partner.

    If you choose an invoice, it will be sent by e-mail from Klarna within 24 hours after the order has been sent, and with the due date specified during the purchase process. No extra fees are added for purchases against invoice. Please note that you must always enter a complete social security number when purchasing with Klarna Faktura. Klarna makes a credit rating to evaluate whether you can trade for the selected amount. In that credit rating, Klarna mainly looks at three things: their previous payment history, how much you want to shop for and external information that Klarna collects from a credit reporting company (you will receive a message that information has been obtained from the credit reporting company). It is thus a combination of several different factors that determines whether the purchase goes through. If the purchase does not go through with an invoice, you can complete the order with another of the payment methods we offer. If you have questions about the credit rating, please contact Klarna on 08 - 120 120 10 Mon – Fri. at 8.00–22.00 and Sat-Sun. at 10.00–17.00. For more information about Klarna's personal data management, we refer you to Klarna's data protection policy.

    If you receive offers for financing as a payment method, the agreement with the terms will be signed electronically by you during the payment process. It is an agreement between you and our financing partner. The account holder understands that the account is charged with interest on the current outstanding amount, and that there are additional costs in addition to what is shown in the online store's order overview. In the event of non-payment, default interest is charged in accordance with current Swedish law on interest in the event of late payment (Räntelagen 1975: 635). Fees may also be charged in accordance with Swedish laws for debt collection (Inkassolagen 1974: 182) and (Act on compensation for debt collection costs etc. 1981: 739).

    For subscription purchases where, for example, an agreed amount is to be deducted every month, your payment information is stored encrypted and secure with our payment intermediary and can only be used by our supplier to carry out the transaction. Consent to this is also obtained during the purchase process.
</p>
<h4> 3.Complaint </h4>
<p>
    After you have received the products, we recommend that you check as soon as possible whether the delivery corresponds to the order confirmation, if the products have been damaged during transport or if the products are otherwise faulty or defective.

    If the products have faults or defects, you can, depending on the circumstances, demand that the defect be rectified, demand a new delivery, price reduction, compensation or that the purchase be canceled. The buyer can demand re-delivery or to have the product repaired if this can be done at an unreasonable cost to the seller. Notifications of defects and deficiencies in the products can be made to us orally or in writing. It must be done within a reasonable time after you have discovered or should have discovered the error or defect. However, you always have at least two months' warranty period. For evidentiary reasons, we recommend that you send the complaint to us in writing. The right to complain is valid for three years after you received the product, unless otherwise provided by a guarantee or similar commitment. The complaint must be directed at the seller, that is, MaskShopping or the Partner in cases where the product has not been sold by MaskShopping. When buying through a company, the buyer has a 2-year right of complaint according to the Purchase Act.
</p>

