@{
    ViewBag.Title = "Customer Service";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-3">
        <a href="#">
            <img class="" alt="Shipping and delivery" title="Shipping and delivery" src="~/Content/ProductImages/Shipping.png">
        </a>  
    </div>
</div>

<Phone>
    6752365473
</Phone>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>