
@{
    ViewBag.Title = "FAQ Page";
}

<h2>@ViewBag.Title</h2>


<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <h5>Warranty & open purchase</h5>
                    <div class="card-header" id="headingOne">

                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How do I check the status of my submitted service?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            Once you have submitted a product for service, a case is created. By clicking here , you can search for the status of your service case using the case number and the telephone number entered at the time of registration.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long is my warranty?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            We give you a 2-year guarantee on most products in our range. For computer products and portable audio, a 1-year warranty applies. In cases where the manufacturer provides a longer warranty, you are of course offered the same warranty length. The product warranty applies to malfunctions that occur during the warranty period.

                            In addition to the above warranty period and malfunction warranty on LCD & Plasma screens / TVs, we offer the same pixel warranty as the respective manufacturer.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                My product is in trouble, what do I do?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Many problems can be remedied by making a software update or restoring the product (eg mobile phones, computers, etc.). You can often get technical support directly from the manufacturer, you will find contact information for many different manufacturers here .

                            In cases where this does not help, we recommend that you submit the product to one of our warehouse shops , or self-register your case via our website .
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <h5>Delivery</h5>
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Where's my order?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            In your order confirmation, we will notify you of the delivery time of your order. When your order is sent from us, you will receive a delivery note with the associated package number. If you are a member of Klubbhyllan, you can also see order status under the online purchase history on "My pages".
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                What do I do if the product broke during shipping?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Transport damage is repaired at no cost to our customers. We recommend that you contact our Customer Service within 1-3 working days of receiving your product in the event of a shipping damage. You can read more about how to report a shipping damage in the section  "Errors in delivery" .
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSex">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSex" aria-expanded="false" aria-controls="collapseSex">
                                What is the delivery time when ordering a subscription?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseSex" class="collapse" aria-labelledby="headingSex" data-parent="#accordionExample">
                        <div class="card-body">
                            For subscription purchases, your order will be sent from us as soon as registration of the subscription has taken place. The package is delivered to your nearest agent. Normal delivery time is  3-5 working days .
                            Approved credit check is required and the operator's subscription agreement must be signed before the order is sent.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <h5>Oder and Payments</h5>
                    <div class="card-header" id="headingSeven">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                                When ordering, I get the "credit application denied", why?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseSeven" class="collapse show" aria-labelledby="headingSeven" data-parent="#accordionExample">
                        <div class="card-body">
                            "Credit application denied" means that Resurs Bank has not been able to grant the credit requested. We at NetOnNet can unfortunately not see what this is due to and refer these questions directly to Resurs Bank on tel. No: 0771-11 22 33.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                What payment method do you offer?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                        <div class="card-body">
                            When you order from our website, you can choose between the following payment methods:
                            <ul>
                                <li>Swish</li>
                                <li>Card payment (VISA / Mastercard)</li>
                                <li>Direct payment via internet bank</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Do you have a price guarantee?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingSex" data-parent="#accordionExample">
                        <div class="card-body">
                            We offer a price guarantee to ourselves, not to competitors. What this means is that if you buy an item from us, which is later reduced in price within your open purchase time, we will of course offer you the current lower price.
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    
</div>