
@{
    ViewBag.Title = "ThankYou";
}

<div class="jumbotron text-center">
    <h2>Thank You</h2>
    <p class="lead">Thank you for your order.</p>
    <hr class="my-4">
    <p class="lead">Your Order Id = @ViewBag.OrderId.</p>
</div>
<br />
<br />


