
@{
    ViewBag.Title = "Thank You";
}
    <div class="jumbotron text-center">
        <h2>@ViewBag.Title.</h2>
        Thank you for your order.
        <br />
        <br />
        Your Order Id = @ViewBag.OrderId
    </div>




